@using DevExtremeAspNetCoreApp1.Models
<h2 class="content-block">Customer List</h2>



@(Html.DevExtreme().DataGrid<Customer>()
    .ElementAttr(new { @class = "dx-card wide-card" })
    .DataSource(d => d.Mvc().Controller("Home").LoadAction("GetStoreProcedure").Key("CustomerId"))
    .ShowBorders(false)
    .FilterRow(f => f.Visible(true))
    .FocusedRowEnabled(true)
    .FocusedRowIndex(0)
    .ColumnAutoWidth(true)
    .ColumnHidingEnabled(true)
    .Columns(columns => {

        columns.AddFor(m => m.CustomerId);
        columns.AddFor(m => m.ContactName);
        columns.AddFor(m => m.CompanyName);
        columns.AddFor(m => m.Country);
        columns.AddFor(m => m.Region);
        columns.AddFor(m => m.Phone);
    })
    .Paging(p => p.PageSize(10))
    .Pager(p => p
        .ShowPageSizeSelector(true)
        .AllowedPageSizes(new[] { 5, 10, 20 })
        .ShowInfo(true)
    )
)